<a href="https://colab.research.google.com/github/NMKUNT/MohanKrishna_INFO5502_Spring2022/blob/main/lab_assignment_02_with_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second Lab-assignment (02/04/2022, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [20]:
# Your code here
import random

a=[] # a is the list in which we store random numbers 


for i in range(0,12):
   a.append(random.randint(1,100))    # randint generates the random intergers in the range mentioned.
   
print(a) # prints our list of numbers

a.sort()  # this will sort the list , ascending by default

print(a)

a.sort(reverse=True)    # this will sort in descending 

print(a)

average = sum(a)/12  # sum gives the sum of numbers in the list

print(round(average,3)) # prints the average, round function will round off our result. I used 3, which will round off to 3 digits after decimal

[67, 9, 68, 29, 73, 76, 39, 41, 87, 83, 64, 77]
[9, 29, 39, 41, 64, 67, 68, 73, 76, 77, 83, 87]
[87, 83, 77, 76, 73, 68, 67, 64, 41, 39, 29, 9]
59.417

# Question 2
(20 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [77]:
# Your code here
import re
#1---------------------------------------------------
print("enter first sentence")
sent1=input()
print("enter second sentence")
sent2=input()

enter first sentence
Alas! Am I alive? This is my first python program
enter second sentence
yes you are alive. Wow! nice

In [121]:
#2-----------------------------------------------------
split1=re.findall(r"[A-Za-z@#]+|\S",sent1)
print(split1,"------- split of sentence 1")
split2=re.findall(r"[A-Za-z@#]+|\S",sent2)
print(split2,"------- split of sentence 2")

['Alas', '!', 'Am', 'I', 'alive', '?', 'This', 'is', 'my', 'first', 'python', 'program'] ------- split of sentence 1
['yes', 'you', 'are', 'alive', '.', 'Wow', '!', 'nice'] ------- split of sentence 2

In [122]:
#3-----------------------------------------------------
common=[]

for i in split1:
        a = []
        a.extend(i)
        if(i in split2 and (ord(a[0])<33 or ord(a[0])>64)): # using ord, removing the special characters
              common.append(i)
print(common,"  Common words")

['alive']   Common words

In [123]:
#4---------------------------------------------------------

split1_copy = split1

for i in split1_copy:
        a = []
        a.extend(i)
        if(ord(a[0])>=33 and ord(a[0])<=64): # using ord, removing the special characters
            split1_copy.remove(i)
split1_copy = " ".join(split1_copy)
print(split1_copy," ---- Without punctuation")

split2_copy = split2

for i in split2_copy:
        a = []
        a.extend(i)
        if(ord(a[0])>=33 and ord(a[0])<=64): # using ord, removing the special characters
            split2_copy.remove(i)
split2_copy = " ".join(split2_copy)
print(split2_copy," ---- Without punctuation")

Alas Am I alive This is my first python program  ---- Without punctuation
yes you are alive Wow nice  ---- Without punctuation

In [81]:
#5-----------------------------------------------------------
a = split1_copy
vowels = 'aeiou'
a = a.casefold()
count1 = {}.fromkeys(vowels,0)
count = {}.fromkeys(vowels,0)

for i in a:
       if i in count1:
           count1[i] += 1
           count[i] += 1
print(count1, "---count of vowels in sentence1")

b = split2_copy
b = b.casefold()
count2 = {}.fromkeys(vowels,0)
for i in b:
       if i in count2:
           count2[i] += 1
           count[i] += 1
print(count2, "---count of vowels in sentence2")

print(count,"----count of vowels in both sentences combined")

{'a': 5, 'e': 1, 'i': 5, 'o': 2, 'u': 0} ---count of vowels in sentence1
{'a': 2, 'e': 4, 'i': 2, 'o': 2, 'u': 1} ---count of vowels in sentence2
{'a': 7, 'e': 5, 'i': 7, 'o': 4, 'u': 1} ----count of vowels in both sentences combined

# Question 3 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [75]:
# Your code here
import math 
print ("r    V")
vol = 0

for i in range (1,11):
    vol=(4/3)*(math.pi)*(i**3)   # math.pi gives the value of pi
    print(i,"  ",round(vol,3))   # rounded off the out put to 3 places after decimal

r    V
1    4.189
2    33.51
3    113.097
4    268.083
5    523.599
6    904.779
7    1436.755
8    2144.661
9    3053.628
10    4188.79

# Question 4

(20 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5502-spring2022/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5502-spring2022/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [100]:
# Your code here


import pandas as pd

data = pd.read_csv('/lab_assignment_02_denton_housing.csv')
data.count()

year           42
title_field    42
value          42
dtype: int64

In [84]:

occupied =data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])  #assigning all the occupied details to occupied
vacant =data[data['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])
total =data[data['title_field'] == 'Total Housing Units'].sort_values(by=['year'])

In [93]:
#1 

dict1 = {}
for i in range(len(occupied)-1):
    a = str(list(occupied['year'].values)[i])+"-"+str(list(occupied['year'].values)[i+1])
    dict1[a] = list(occupied['value'].values)[i] - list(occupied['value'].values)[i+1]


print(sorted(dict1.items(), key=lambda item: item[1]))

[('2009-2010', -5091), ('2013-2014', -2622), ('2012-2013', -1565), ('2011-2012', -1404), ('2010-2011', 303), ('2008-2009', 795)]

In [99]:
#2

new_data = pd.DataFrame()
new_data = pd.DataFrame()
new_data['years'] = occupied['year'].values


list1 = []
for i in range(len(vacant)):
        a = (list(vacant['value'].values)[i]/list(total['value'].values)[i])*100
        list1.append(a)
new_data['percentage vacant'] = list1



list2 = []
for j in range(len(occupied)):
        b = (list(occupied['value'].values)[j]/list(total['value'].values)[j])*100
        list2.append(b)
new_data['percentage Occupied'] = list2


new_data

   years  percentage vacant  percentage Occupied
0   2008          10.882653            89.117347
1   2009           9.071116            90.928884
2   2010           8.142556            91.857444
3   2011           9.379522            90.620478
4   2012           6.677600            93.322400
5   2013           8.801788            91.198212
6   2014           5.730111            94.269889

In [116]:
#3

highest = pd.DataFrame(columns=['title_field','Year', 'Value'])
for title_field in ['Vacant Housing Units', "Occupied Housing Units"]:
  dict = {}
  dict['title_field'] = title_field
  dict['Year'] = data[data['title_field'] == title_field].max()[0]
  dict['Value'] = data[data['title_field'] == title_field].max()[2]
#adding the dict to new dataframe
  highest = highest.append(dict, ignore_index=True)

print(highest.set_index('title_field'))

                        Year  Value
title_field
Vacant Housing Units    2014   4483
Occupied Housing Units  2014  46295

In [118]:
#4

from statistics import harmonic_mean

har_mean = harmonic_mean(data[data['title_field'] == 'Total Housing Units']['value'])

print("Harmonic Mean = ",har_mean)

Harmonic Mean =  44398.28543969185